h2{
    color: rgba(0, 236, 91, 0.829);
    text-align: center;
    font-size: 55px;
}

body {
    background-color: rgba(0, 0, 0, 0.993);
}

h1{
    color: rgb(225, 0, 255);
    text-align: center;
    font-size: 55px;
}

p{


    color: blue;
    text-align: center;
    font-size: 55px;
    font-family: cascadia code;

}


